@import "active_admin/mixins";
@import "active_admin/base";

@import "bootstrap";
@import 'products';
@import 'admin/products';

.breadcrumb{
  background-color: transparent;
}
.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
}
.label {
  color: black;
}
